<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/signup" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
           <label for="profession">profession</label><br>
           <select name="profession" id="profession">
             <% types.forEach((profession) => { %>
               <option type="text" value="<%= profession %>" class="form-control"><%= profession %></option>
             <%  }) %>
           </select>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control">
        </div>
        <div class="form-group">
          <button type="submit">Signup</button>


<!-- picture upload
        <section>
          <form action="/upload" method="post" enctype="multipart/form-data">
            <input id="profilePicture" type="text" name="name">
            <input type="file" name="photo">
            <input type="submit" value="Save">
          </form>
        </section>
picture upluas -->

        </div>
      </form>
    </div>
  </div>
</div>
