











<!--  need to modifed this page using bootstrap -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="home-heading text-center row">
          <div class="home-heading-wrapper">
            <h1 class="page-name">Manda </h1>
            <img src="https://vignette.wikia.nocookie.net/doom/images/4/4c/Chef-hat-png-13.png/revision/latest?cb=20170308012617"><br>
            <p class="subtitle"> create, share and control your favorites recipe</p>
          </div>
        </div>
      </div>

    </div>
  </div>
