
<div class="container-fluid">
  <script type="text/javascript">
alert("this page was deployed using heroku as platform wich means that any picture will only be store for 24 hr period''''sorry'''");
</script>

    <div class="row">
      <div class="jumbotron">
        <img  id= "logo"src="https://vignette.wikia.nocookie.net/doom/images/4/4c/Chef-hat-png-13.png/revision/latest?cb=20170308012617">
          <span id = 'wbebSiteTitle'>Manda</span><br>
         <span class= 'slogan ' >Just like that old book full of recipe</span>
       </div>
    <div class="page-header"><h2>create, share and control your favorites recipe</h2></div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
      </div>

    </div>
  </div>
