
  <div class="container-fluid">
    <div class="home-heading text-center row">
      <div class="home-heading-wrapper">
        <h1>Manda </h1>
        <img src="https://vignette.wikia.nocookie.net/doom/images/4/4c/Chef-hat-png-13.png/revision/latest?cb=20170308012617"><br>
        <p>create, share and control your favorites recipe</p>



       <div class="recipe-row row">
           <h3 class="text-center">this is a sample of your recipe...</h3>
             <div class="col-sm-4 home-recipe-box">
               <% recipe.forEach((recipe) => { %>
               <img src="<%= recipe.image %>">
               <div class="recipe-info-wrapper">
                 <a class="title" href="/recipe/<%= recipe._id %>">
                   <strong><%= recipe.recipe %></strong>
                 </a><br>
                 by <span class="light-text"><%= recipe._creator.username %></span><br>
               </div>
           </div>
         <%  }) %>
          </div>

  </div>

      </div>
    </div>
