<!-- <div class="recipe-row row">
    <h3 class="text-center">this are a sample of your recipe...</h3>
    <% recipes.forEach((recipe) => { %>
      <div class="col-sm-3 home-recipe-box">
        <img src="<%= recipe.image %>">
        <div class="recipe-info-wrapper">
          <a class="title" href="/recipes/<%= recipe._id %>">
            <strong><%= recipe.recipe %></strong>
          </a><br>
          by <span class="light-text"><%= recipe._creator.username %></span><br>
        </div>
      </div>
    <%  }) %>
  </div> -->
