
<div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="recipeBook-heading-wrapper">
<div  class="row ">
    <h3 class="text-center">this is a view of all recipe...</h3>
    <% recipe.forEach((recipe) => { %>
      <div class="col-sm-6 home-recipe-box">

        <div class="recipe-info-wrapper">
          <a class="title" href="/recipe/<%= recipe._id %>">
            <strong><%= recipe.recipe %></strong>
          </a><br>
          by <span class="light-text"><%= recipe._creator.username %></span><br>
        </div>
    </div>
     <%  }) %>
   </div>
     </div>
   </div>
</div>
<
