<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/kitchens/<%= kitchen._id %>" method="post">
        <div class="form-group">
          <% if (typeof(errors) !== 'undefined'){ %>
  <div class="alert alert-danger">
  <ul>
    <% for (let error in errors){ %>
      <li><%= errors[error].message %></li>
    <% } %>
  </ul>
  </div>
<% } %>
          <label for="kitchen">kitchen</label>
          <input type="text" name="kitchen" class="form-control" value="<%= kitchen.kitchen %>">
        </div>
        <div class="form-group">
          <label for="add-menber">add a new menber</label>
          <input type="text" name="menber" class="form-control" value="<%= kitchen.menber %>">
        </div>
        <div class="form-group">
          <label for="add-recipe">add a new recipe</label>
        </div>
        <div class="form-group">
          <button type="submit">Update Kitchen</button>
        </div>
      </form>
    </div>
  </div>
</div>
