<!-- crearing kitchen form-->
<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/kitchen" method="post">
        <div class="form-group">
          <label for="kitchen">Kitken</label>
          <input type="text" name="kitchen" class="form-control">
          <div class="form-group">
          <button type="submit">Create new kitchen</button>
        </div>
        </div>
        <!-- <div class="form-group">
          <label for="menber">Menber</label>
          <input type="text" name="menber" class="form-control">

        
       </div> -->
          <!-- </div>
            <div class="col-sm-6 centered-form">
        <div class="form-group">
          <label for="recipes">Search for recipe you want to add to this kitchen</label>
          <input type="text" name="recipe" class="form-control">
            <button   type="submit">search</button>    <button   type="submit">add recipe</button>


            <br>
        </div>
        <div class="form-group"> -->
            <!-- <input type="file" name="photo" value=""> -->
          <!-- <button  href="/mainKitchen" type="submit">create new group</button>
        </div>
      </form> -->
      <!-- <form action="/upload" method="post" enctype="multipart/form-data">

           <input type="file" name="photo"> -->
            <!-- <input type="submit" value="Save">
        </form> -->
    </div>
  </div>
</div>
