
<div class="container-fluid edit-recipe">
<!--  need to modifed this page using bootstrap and adding upload picture funtionalyiti-->
      <form action="/recipe/<%= recipe._id %>" method="post">
        <div class="row">
          <div class="col-sm-12 centered-form">
        <div  class=" centerTittle">
          <label class="typing" for="recipe">Recipe</label>
          <input type="text" name="recipe" class="text-area-t ">
        </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-6 centered-form">
            <div class="typingArea">
              <div class="form-group">
        <label class="typing"for="ingredients" >Ingredients</label>
        <textarea id="ingredients" name="ingredients" class="text-area-S">-
        </textarea>
             </div>
        <div class="form-group">
        <label class="typing" for="instructions">Instruction</label>
        <textarea id="instructions" name="instructions" class="text-area-S"> </textarea>
          </div>
            </div>
             </div>
            </div>

        <div class="row">
          <div class="col-sm-6 centered-form">
        <div class="form-group">
            <!-- <input type="file" name="photo" value=""> -->
          <button  type="submit">Update  creation</button>
          </div>
        </div>
        </div>
  </form>
      <% if (typeof(errors) !== 'undefined'){ %>
  <div class="alert alert-danger">
  <ul>
    <% for (let error in errors){ %>
      <li><%= errors[error].message %></li>
    <% } %>
  </ul>
  </div>
<% } %>
    </div>
  </div>







c
