<!-- crearing recipe form-->
<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/recipe" method="post">
        <div class="form-group">
          <label for="recipe">Recipe</label>
          <input type="text" name="recipe" class="form-control">
        </div>
        <div class="form-group">
          <label for="ingredients">Ingredients</label>
          <textarea id="ingredients" name="ingredients" class="form-control"></textarea>
        </div>
          </div>
            <div class="col-sm-6 centered-form">
        <div class="form-group">
          <label for="instructions">Instruction</label>
          <textarea id="instructions" name="instructions" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <label for="notes">Notes</label>
          <textarea id="notes" name="notes" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input type="file" name="photo" value="">
          <button  type="submit">summit creation</button>
        </div>
      </form>
      <!-- <form action="/upload" method="post" enctype="multipart/form-data">

           <input type="file" name="photo"> -->
            <!-- <input type="submit" value="Save">
        </form> -->
    </div>
  </div>
</div>
